@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
  height: 100vh;
  width: 100vw;
  background-color: #c8a2c8;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  width: 80%;
  height: 80%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container p {
  color: rgba(0, 0, 0, 0.641);
  font-size: 2.3em;
  text-shadow: 5px 5px 5px #00000091;
}

.sub-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#yes {
  position: absolute;
  left: 30%;
  transform: translate(-50%, -50%);
}

#no {
  position: absolute;
  left: 70%;
  transform: translate(-50%, -50%);
  transition: .6s;
  
}

.sub-container .btn-light {
  padding: 20px 30px;
  border: 5px solid;
  border-radius: 7px;
  font-size: 1.4em;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

